///
/// Launch stylesheet
///
/// Injected in the <head> as plain text, so keep it simple!
///
/// @author Roelof Roos

// Load our variables
@import 'variables/all';

// Load Bulma's variables
@import '~bulma/sass/utilities/all';

// Load Bulma's mini reset and the generic styling
@import '~bulma/sass/base/minireset';
@import '~bulma/sass/base/generic';

// Load Bulma's mixins and the container element
@import '~bulma/sass/elements/container.sass';
@import 'components/app-loading';

// DEV
.alignment_block {
  background: rgba(255, 0, 0, .6);
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50vh;
}
