{% extends "::base.html.twig" %}

{% block title %}AppBundle:GameController:list{% endblock %}

{% block body %}
<div class="container">
  <div class="columns">
    <div class="column is-3"></div>
    <div class="column">
      <div class="box">
        <h1 class="title is-2">Welcome to the GameController:list page</h1>
        <h2 class="subtitle is-4">Now go write some code!</h2>
      </div>
    </div>
    <div class="column is-3"></div>
  </div>
</div>
{% endblock %}
